<!DOCTYPE html>
<html>

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M7B7RMB');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TraGate</title>
    <meta name="desciption" content="@ViewData["Description"]" />
    @if (Config.IsProduction() == false)
    {
        <meta name="robots" content="noindex, nofollow" />
    }
    @Html.Partial("_Styles")
    @if (IsSectionDefined("Styles"))
    {
        RenderSection("Styles", required: false);
    }
    <style>
        .entry-header h1 {
            text-align: center;
        }
    </style>
</head>

<body class="woocommerce-active single-product full-width extended">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7B7RMB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="page" class="hfeed site">
        @Html.Partial("_TopHeader")
        @Html.Partial("_Header")
        <div id="content" class="site-content" tabindex="-1">
            <div class="col-full">
                <div class="row">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
    @Html.Partial("_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>