@model Tragate.UI.Models.Company.CompanyHeaderViewModel
<div id="secondary" class="widget-area shop-sidebar" role="complementary">
    <div class="widget woocommerce widget_product_categories techmarket_widget_product_categories" id="techmarket_product_categories_widget-2">
        <ul class="product-categories ">
            <li class="product_cat">
                <span>@Model.Name</span>
                <ul>
                    <li class="cat-item">
                        <a asp-action="index" asp-controller="companyadmin" asp-route-id="@Model.CompanyId">
                            <span class="child-indicator">
                                <i class="fa fa-th-large"></i>
                            </span>Home
                        </a>
                    </li>
                    @*<li class="cat-item">
                        <a asp-action="buyer-quotes" asp-controller="companyadmin" asp-route-id="@Model.CompanyId">
                            <span class="child-indicator">
                                <i class="fa fa-cubes"></i>
                            </span>Buy
                        </a>
                    </li>*@
                    <li class="cat-item">
                        <a asp-action="seller-quotes" asp-controller="companyadmin" asp-route-id="@Model.CompanyId">
                            <span class="child-indicator">
                                <i class="fa fa-money"></i>
                            </span>Sell
                        </a>
                    </li>
                    <li class="cat-item">
                        <a asp-action="products" asp-controller="companyadmin" asp-route-id="@Model.CompanyId">
                            <span class="child-indicator">
                                <i class="fa fa-cubes"></i>
                            </span>Products
                        </a>
                    </li>
                    <li class="cat-item">
                        <a asp-action="admins" asp-controller="companyadmin" asp-route-id="@Model.CompanyId">
                            <span class="child-indicator">
                                <i class="fa fa-users"></i>
                            </span>Admins
                        </a>
                    </li>
                    <li class="cat-item">
                        <a asp-action="settings" asp-controller="companyadmin" asp-route-id="@Model.CompanyId">
                            <span class="child-indicator">
                                <i class="fa fa-cogs"></i>
                            </span>Settings
                        </a>
                    </li>
                    <li class="cat-item">
                        <a asp-action="index" asp-controller="user">
                            <span class="child-indicator">
                                <i class="fa fa-user"></i>
                            </span>Personal Account
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>