
@model Tragate.UI.Models.Product.ProductDetailViewModel
<div class="product" style="padding-top: 1em;">
    <div class="single-product-wrapper">
        <div class="product-images-wrapper thumb-count-4 row">
            <div class="col-md-3 thumbs">
                <ul>
                    @foreach (var item in Model.Images.OrderByDescending(x => x.Id))
                    {
                        <li><img src="@item.Path" onclick="$('.img_wrapper [data-slick]').slick('slickGoTo', $('.slick-track li[data-id=@item.Id]').index());" /></li>
                    }
                </ul>
            </div>
            <div class="col-md-9 img_wrapper">
                <ul data-slick>
                    @foreach (var item in Model.Images.OrderByDescending(x => x.Id))
                    {
                        <li data-id="@item.Id" data-fancybox="Gallery" href="@item.Path"><img class="zoom" data-scale="1.5" src="@item.Path" /></li>
                    }
                </ul>
            </div>
        </div>
        <div class="summary entry-summary">
            <div class="single-product-header">
                <h1 class="product_title entry-title">@Model.ProductTitle</h1>
            </div>
            <div class="woocommerce-product-details__short-description">
                <p class="price">
                    <span class="woocommerce-Price-amount amount">
                        @if (Model.PriceLow == 0 && Model.PriceHigh == 0)
                        {
                            <label>Contact for price</label>
                        }
                        else
                        {
                            <label>@Model.Currency @Model.PriceLow.ToString("0.00") - @Model.PriceHigh.ToString("0.00") / @Model.UnitType </label>
                        }

                    </span>
                </p>
                <ul>
                    <li><strong><label asp-for="MinimumOrder"></label>: </strong> @Model.MinimumOrder @Model.UnitType (s)</li>
                    <li><strong><label asp-for="SupplyAbility"></label>: </strong> @Model.SupplyAbility @Model.UnitType (s) / Month</li>
                    <li>
                        <strong><label asp-for="Categories"></label>: </strong>
                        @{
                            var last = Model.Category.Last();
                            foreach (var cat in Model.Category)
                            {
                                <a asp-action="products" asp-controller="search" asp-route-category="@cat.Slug" style="color: #0275d8; font-size: 16px;">@cat.Title</a>
                                if (cat != last)
                                {
                                    <span class="delimiter">
                                        <i class="tm tm-breadcrumbs-arrow-right"></i>
                                    </span>
                                }
                            }
                        }
                    </li>
                    <li>
                        <strong><label asp-for="Brand"></label>: </strong> @Model.Brand
                    </li>
                    <li>
                        <strong><label asp-for="ModelNumber"></label>: </strong> @Model.ModelNumber
                    </li>
                    <li>
                        <strong><label asp-for="OriginLocation"></label>: </strong> @Model.OriginLocation
                    </li>
                </ul>
                @*<a class="button add_to_cart_button"
                       asp-action="home" asp-controller="company" asp-route-slug="@Model.CompanySlug">
                        Contact Supplier
                    </a>*@
                <button class="button add_to_cart_button ContactSupplier" data-product-id="@Model.Id" data-company-id="@Model.CompanyId">
                    Contact Supplier
                </button>
            </div>
        </div>
        <div class="product-actions-wrapper">
            <div class="product-actions">
                <div class="availability">
                    @Model.CompanyTitle
                </div>
                <div class="additional-info">
                    @if (Model.MembershipTypeId == 0)
                    {
                        <i class="fa fa-bookmark-o" style="margin-left: 5px; margin-right: 13px;"></i> <strong>@Model.MembershipType</strong>
                    }
                    else
                    {
                        <img src="~/assets/images/tragate-gold-company-icon.png" style="float: left; margin-right: 13px; width: 30px; height: 30px;" />
                        <strong>@Model.MembershipType</strong>
                    }
                </div>
                <div class="additional-info">
                    @if (Model.VerificationTypeId == 0)
                    {
                        <i class="fa fa-circle-o" style="margin-left: 5px; margin-right: 13px;"></i> <strong>@Model.VerificationType</strong>
                    }
                    else
                    {
                        <i class="fa fa-check-circle-o" style="margin-left: 5px; margin-right: 13px;"></i> <strong>@Model.VerificationType</strong>
                    }
                </div>
                <div class="additional-info">
                    <i class="fa fa-map-marker" style="margin-left: 7px; margin-right: 16px;"></i><strong> @Model.Location / @Model.OriginLocation</strong>
                </div>
                <div class="additional-info">
                    <i class="fa fa-bank"></i>Established <strong>@Model.EstablishmentYear</strong>
                </div>
                <a class="button add_to_cart_button" style="text-align: center; width: 100%;"
                   asp-action="about" asp-controller="company" asp-route-slug="@Model.CompanySlug">
                    View Company
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="woocommerce-tabs wc-tabs-wrapper">
        <div class="tab-content">
            <div class="tab-pane panel wc-tab active" id="tab-description" role="tabpanel">
                <h2 style="text-align: center;">
                    <label asp-for="Description"></label>
                </h2>
                <p style="text-align: center; max-width: 1160px; margin: auto auto 60px;">
                    <div class="container">
                        @Html.Raw(@Model.Description)
                    </div>
                </p>
                <hr style="margin-top: 1em;">
                <h2 style="text-align: center;">
                    <label asp-for="ShippingDetail"></label>
                </h2>
                <p style="max-width: 1160px; margin: auto auto 60px; text-align: center;">
                    <div class="container">
                        @Html.Raw(Model.ShippingDetail)
                    </div>
                </p>
                <hr style="margin-top: 1em;">
                <h2 style="text-align: center;">
                    <label asp-for="PackagingDetail"></label>
                </h2>
                <p style="max-width: 1160px; margin: auto auto 60px; text-align: center;">
                    <div class="container">
                        @Html.Raw(Model.PackagingDetail)
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ContactSupplier")